**/*tfstate*
**/.ipynb_checkpoints
**/.terraform
**/.terraform.lock.hcl
**/__pycache__
**/members.*
.DS_Store
.env
.idea
.vscode
cdk.out
dev/*.env
dev/*.key
dev/aws-ec2/key
dev/aws-ec2/key.pub
dev/team.json
instructor
local
.empty
**/mlruns
**/assignment_submission
**/denoiser_model
**/denoiser_hyperop
**/dream*
**/pnp*
**/weathernet_model
**/datasets
**/interclass*
**/fakenet_dataset*
**/fakenet_model
**/carnet_dataset*
**/carnet_model*
