local
instructor
**/.ipynb_checkpoints
**/*.env
dev
cdk/cdk.out
**/__pycache__
**/.mypy_cachedream*
**/pnp*
**/weathernet_model
**/datasets
**/interclass*
**/fakenet_dataset*
**/fakenet_model
**/carnet_dataset*
**/carnet_model*
