**/*tfstate*
**/.ipynb_checkpoints
**/.terraform
**/.terraform.lock.hcl
**/__pycache__
**/members.*
.DS_Store
.env
.idea
.vscode
cdk.out
instructor
local
.empty
**/mlruns
**/assignment_submission
**/denoiser_model
**/denoiser_hyperop
**/dream*
**/*.zip
**/weathernet_model
**/datasets
**/interclass*
**/fakenet_dataset*
**/fakenet_model
**/carnet_dataset*
**/carnet_model*
